*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira Sans' ,sans-serif;
}

.app{
  min-height: 100vh;
  position: relative;
  
  background-color: #313131;
}

h1{
  padding-top: 10px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 2em;
  letter-spacing: 0.15rem;
  color: rgb(238, 238, 238);
}


.camera{
  padding-top: 30px;

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

video{
 width: 100%;
 max-width: 100%;
 height: auto;
}

.bb{
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;  
}

.r{
  color: rgb(238, 238, 238);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: auto;
}
